[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "Ogre_glTF"]
	path = Ogre_glTF
	url = https://github.com/Ybalrid/Ogre_glTF
